div {
    height:100px;
    width:100px;
    display: inline-block;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}

body{
  background-color
}

.data{
  background-color: blue;
  margin-left: 500px;
  position: relative;
  border-style: solid;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color: red;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
      
#picture{
  width: 480px;
  height: 500px;
  position: absolute;
  margin-top: 0px;
  margin-right: 5px;
}

#name{
  border-bottom-width: 3.5px;
  border-top-width: 3.5px;
  margin-top: 0px;
  margin-bottom: 20px;
}
      
#date{
  border-top-width: 3.5px;
  border-bottom-width: 3.5px;
}
      
#dollar{
  padding-bottom: 90px;
  border-bottom-width: 3.5px;
}